<h1>編集登録フォーム</h1>
<%= form_with model: @drop, local: true do |form| %>
  <p>
    タイトル<br>
    <%= form.text_field :title %>
  </p>
  <p>
    理由：<br>
    <%= form.text_area :reason %>
  </p>
  <p>
    公開鍵<br>
    <%= form.text_field :p_key %>
  </p>
  <p>
    SNS   ：<br>
    <%= form.text_field :sns_url %>
  </p>
  <%= form.submit "編集" %>
<% end %>
